<?xml version="1.0" encoding="utf-8"?>
<manifest package="zhukovme.rsswidget"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Default">

        <receiver android:name=".widget.RssFeedWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rss_feed_widget_provider"/>
        </receiver>

        <service
            android:name=".widget.RssFeedWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".widget.RssWidgetUpdateService"
            android:enabled="true"/>

    </application>

</manifest>